.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #002b36; /* A dark, elegant background */
  /* Other styles remain unchanged */
}

.App-link {
  color: #83c5be; /* A color that stands out against the header */
  text-decoration: none; /* Remove underline */
  font-weight: 600; /* Make it slightly bolder */
}

.content-container {
  padding: 20px;
}